table {
    margin: 20px;
    color: white;
    font-weight: bolder;
}

table tr td {
    padding: 10px;
}

.body {
    --background: url('https://imgnooz.com/sites/default/files/wallpaper/abstract/55445/electrify-green-wallpapers-55445-2619222.png') no-repeat center center fixed;
    -webkit-background-size: 100%, 100%;
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    background-size: 100%, 100%;
}