<ion-header>
  <ion-toolbar class="toolbarBgColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Account
      <ion-icon style="float:right;cursor:pointer;" (click)="logout($event)" name="log-out"></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content no-padding class="body">
  <table>
    <tr>
      <td>Username:</td>
      <td>Avi94</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>aviyash.domah@aerowecmworld.com</td>
    </tr>
    <tr>
      <td>Rewards:</td>
      <td>253 points</td>
    </tr>
  </table>
</ion-content>