<ion-header>
  <ion-toolbar class="toolbarBgColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
      <ion-icon style="float:right;cursor:pointer;" (click)="logout($event)" name="log-out"></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div style="height: 100%; width: 100%" #map_canvas id="map_canvas">
  </div>
</ion-content>