<ion-app >
  <ion-split-pane >
    <ion-menu >
      <ion-header>
        <ion-toolbar class="toolbarBgColor">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>          
        <ion-list no-padding>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
            <ion-item style="color:#2ECC71;" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="color:#2ECC71;">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div style="padding:8px;text-align:center;width:100%;color:#2ECC71;">{{user}}</div>
         <img style="width:100px;margin:100px;" src="https://www.freepngimg.com/download/recycle/3-2-recycle-free-download-png.png"/>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
