<ion-content no-padding class="body">
<div align="center" style="margin-top:25px;">
  <div class="main" style="width:90%;height:10px;margin: auto;">

    <form style="border:1px solid #ccc;background-color:white;opacity:0.9">
      <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" [(ngModel)]="username" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" [(ngModel)]="cpassword" name="psw-repeat" required>

        <label>
          By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.<br>
          Already have an Account?? <a href="login.html">Log ON!!</a>.
        </label>

        <div class="clearfix">
          <button type="submit" class="signupbtn" (click)="SignOut()">Sign Up</button>
          <button type="button" class="cancelbtn">Cancel</button>

        </div>
      </div>

    </form>
  </div>
</div>
</ion-content>