<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <!-- <script href="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>Scheduling System</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% block body %}
<div class="container">
    <header>
        <h1>ResikGeeks</h1>
    </header>
    <section>
        <div id="container_demo">
            <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
            <div id="wrapper" style="opacity: 0.9">
                <div id="login" class="animate form">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <h1> Collection</h1>
                    <div class="form-group {{ form.date.vars.valid==false ? "has-error" }}">
                        {{ form_label(form.date, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.date) }}
                            {{ form_errors(form.date) }}
                        </div>
                    </div>
                    <div class="form-group {{ form.date.vars.valid==false ? "has-error" }}">
                        {{ form_label(form.time, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-3">
                            {{ form_widget(form.time) }}
                            {{ form_errors(form.time) }}
                        </div>
                    </div>
                    <div class="form-group {{ form.material.vars.valid==false ? "has-error" }}">
                        {{ form_label(form.material, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.material) }}
                            {{ form_errors(form.material) }}
                        </div>
                    </div>
                    <div class="form-group {{ form.address.vars.valid==false ? "has-error" }}">
                        {{ form_label(form.address, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.address) }}
                            {{ form_errors(form.address) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
</div><br><br><br><br><br><br>
{% endblock %}

</html>