<ion-header>
  <ion-toolbar class="toolbarBgColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Collection Request
      <ion-icon style="float:right;cursor:pointer;" (click)="logout($event)" name="log-out"></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content no-padding class="body">

  <div align="center" style="margin-top:25px;">
    <div class="main" style="width:80%;height:10px; align:center;">

      <form action="" style="background-color:white;opacity:0.9">

        <div class="imgcontainer">
          <img src="https://aerowsocialclub.000webhostapp.com/logo.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Material</b></label> <br>
          <select name="Material" required style="width:100%;height:40px">
            <option value="plastic">Plastic</option>
            <option value="paper">Paper</option>
            <option value="it">IT</option>
            <option value="oil">Oil</option>
          </select>
          <br><br>
          <label for="location"><b>Location</b></label>
          <button type="location">location</button>
          <br><br>
          <label for="company"><b>Company</b></label>
          <input type="text" placeholder="choose company" name="company" required>

          <button type="submit">Submit</button>


        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>

        </div>
      </form>
    </div>
  </div>
</ion-content>