<ion-content no-padding class="body">
	<h2 align="center">Login Form</h2>
	<div align="center">
		<div class="main" style="width:90%;height:10px;margin: auto">

			<form style="background-color:white;opacity:0.9">

				<div class="imgcontainer">
					<img src="https://aerowsocialclub.000webhostapp.com/logo.jpg" alt="Avatar" class="avatar">
				</div>

				<div class="container">
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" placeholder="Username" [(ngModel)]="username"
						name="uname" required>

					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>

					<button type="submit" (click)="Login($event)">Login</button>
					<label style="color:#3CB371;">
						No Account?? Join us now <button ion-button style="background-color:dodgerblue"
							(click)="SignUp($event)">Join us!!</button>
					</label>

				</div>

				<div class="container" style="--background-color:#f1f1f1">
					<span class="psw">Forgot <a href="#">password?</a></span>
				</div>
			</form>
		</div>
	</div>
</ion-content>